body {
  background-color: #2eb8b8;
    font-family: 'Philosopher', sans-serif;
}

h1 {
  font-family: 'Pacifico', cursive;
}

h3 {
  text-decoration: underline;
  display: none;
  font-family: 'Pacifico', cursive;
}

label, #enterWord {
  display: none;
  font-family: 'Philosopher', sans-serif;
}

table {
  background-color: grey;
}

td {
  margin: 5px;
  padding: 5px 10px;
  background-color: #ffffe6;
  border: 2px solid black;
  border-radius: 4px;
  height: 60px;
  width: 60px;
  text-align: center;
}

.reveal {
    display: inline-block;
}

.tile {
  height: 110px;
  background-color: LightSteelBlue;
  border: 2px solid snow;
  text-align: center;
  padding-top: 5px;
}

#board {
  margin-top: 5%;
  margin-left: 5%;
}

#end, #restart {
  display: none;
}

#pageloadHeader {
  text-align: center;
}

#playingHeader {
  margin-left: 20%;
  display: none;
}
